.sidebar{
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 0;
  display: block;
  padding: 10px;
  padding-top: 51px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #FFFFFF;
  font-size: 1.2em;
  border-right: 2px solid #ece4e4;
  margin-right: 2px;  
  }
.nav-sidebar a{
  color: DarkCyan;
  margin: 5px;
}
