/*Cover*/
#cover{
  color: White;
  background-image: url('../res/Cover.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.cover_text{
  position: relative;
  top: 30%;

}
#cover_heading{
  font-family: "Permanent Marker",cursive;
  font-size: 8vh;
}

/*Speciallity-How are we Different*/
#speciality h2{
  font-size: 5em;
  font-family:  Handlee,cursive;
  color: #FFA11D;
}
#speciality p{
  font-size: 1.5em;
}
.image-speciality{
  margin: 10px auto;
  height: 256px;
  width: 256px;
}

/*Our Vision*/
#vision{
  color: White;
  background-color: #31D39A;
}
#vision_heading{
  font-family: "Roboto Slab",serif;
}
#vision p{
  font-size: 2em;
}
#vision_para{
  margin: 50px  auto;
}
/*features*/
#features{
  color: Black;
  background-color: White;
}
#features_heading{
  font-family: "Roboto Slab",serif;
  color: #FFA11D;
}
#features_subheading{
  font-family: Handlee,cursive;
  margin: 20px auto;
  color: #FFA11D;
}
.features_image{
  margin: 20px auto;
  height: 160px;
  width: 160px;
}
.features_pics{
  padding: 0;
}
#features .paragraph{
  margin-bottom: 50px;
}
#features_collage{
  width: 100%;
  height: 600px;
}

/*Competition*/
.competition_image{
  height: 400px;
  width: 420px;
  margin: 30px auto;
}

/*Review*/
#review_heading{
  font-family: Handlee,cursive;
  font-size: 4em;
}
#review_container{
  background-color: #009688;
  color: White;
}
#review{
  width: 100%;
}
#review .carousel-inner .review_image{
  margin: 20px auto;
  border: 5px solid White;
}
#review .carousel-inner .review_main{
  font-family: Handlee,cursive;
  font-size: 2em;
}
.btn{
  margin: 10px auto;
}
.review_image{
  height: 256px;
  width: 256px;
}
/*Updates On Mobile*/
.mobile_updates{
  padding: 0;
}
.updatesonmobile_image{
  width: 90%;
  height: 70%;
}
