html,body{
  width: 100%;
  font-family: Roboto,sans-serif;
  color: #212121;
}
h1,h2,h3,h4,h5,h6{
  color: #212121;
}
small{
  color: #757575;
}
.textcenter{
  margin: auto;
}
.dark-primary-color    { background: #00796B; }
.default-primary-color { background: #009688; }
.light-primary-color   { background: #B2DFDB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #5cb85c; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

  /*NavBar*/
.navbar{
    background-color: White;
    border-bottom: 1px solid #BDBDBD;
}
.navbar #navbarSupportedContent li a{
  font-weight: 500;
  color: #757575;
}
.navbar .brand{
  width: 80%;
}
.navbar .navbar-toggler{
  border: 1px solid #BDBDBD;
}
.navbar #navbarSupportedContent .active a{
  color: #00796B;
}
.navbar #navbarSupportedContent a:hover{
  color: #009688;
}
.navbar #navbarSupportedContent .btn-outline{
  border: 1px solid #5cb85c;
  color: #5cb85c;
}
.navbar #navbarSupportedContent .btn-outline:hover{
  border: 1px solid #5cb85c;
  color: White;
  background-color: #5cb85c;
}
.main-container{
  clear: both;
  padding-top: 75px;
}
/*Button*/
.btn-xl{
  padding: 10px 16px;
  font-size: 30px;
  line-height: 1.8;
  border-radius: 10px;
}

a{
  color: #5cb85c;
}
a:hover{
  color: #449d44;
}
/*PageHeader*/
.page-header{
  margin: 10px auto;
  color: #009688;
  padding: 5px;
  border-bottom: 1px solid #BDBDBD;
}
/*text-muted*/
.text-muted{
  color: #757575;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card .card-text{
  color: #757575;
}
.card .card-title{
  color: #212121;
}
footer{
  margin-top: 20px;
  padding: 20px;
  background-color: #00796B;
  color: White;
}
footer #copyright{
  margin: 10px auto;
}
footer h1,h2{
  margin: auto;
  color: White;
  font-family: "Roboto Slab",serif;
}
