html,body{
  width: 100%;
  font-family: Ubuntu,sans-serif;
}
body{
  margin-top: 50px;
}
a{
  color: #31D39A;
}
  /*NavBar*/
.navbar-default{
    margin: 0;
    background-color: White;
  }
.navbar-default #myNavbarContent li a{
  font-weight: 500;
}
.navbar-default .brand{
  width: 80%;
}
.navbar-default #myNavbarContent .active a{
  color: #0EA68A;
  background-color: White;
}
.navbar-default #myNavbarContent a:hover{
  color: White;
  background-color: #31D39A;
}
/*Footer*/
.footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
}
.footer p{
  padding: 10px;
}
/*Big Heading*/
.bigHeading{
  font-size: 5em;
  font-family: "Roboto Slab",serif;
}
.mediumHeading{
  font-size: 3.8em;
}
.smallHeading{
  font-size: 2em;
}
.paragraph{
  font-size: 1.5em;
}
/*Contact*/
.contact{
  background-color: #0D1F1D;
  color: White;
}
.contact_info{
  font-size: 3vh;
}
/*Button*/
.btn{
  border-radius: 24px;
}
.btn-success{
  border: 2px solid #31D39A;
  background-color: #31D39A;
}
.btn-success:hover{
  background-color: #0EA68A;
  border: 2px solid #0EA68A;
}
.btn-primary{
  border: 2px solid DarkCyan;
  background-color: Darkcyan;
}
.btn-primary:hover{
  background-color: #194435;
}
/*PageHeader*/
.page-header{
  color: #0EA68A;
}
/*text-muted*/
.text-muted{
  color: #859195;
}
