@charset "UTF-8";
body {
  font-family: Roboto, sans-serif; }

a {
  color: #00a08d; }
  a:hover {
    color: #003a33; }

.main-container {
  margin-top: 82px; }

footer {
  background: #003a33;
  color: White; }
  footer a {
    color: White; }
    footer a:hover {
      color: #f1f1f1; }
  footer address abbr {
    margin-right: 5px; }

.textCenter {
  text-align: center;
  margin: 20px auto; }

.btn-primary {
  color: white;
  background: #00a08d;
  border: 1px solid #00a08d; }
  .btn-primary:hover {
    background: #003a33;
    border: 1px solid #003a33; }

.btn-outline-primary {
  color: #00a08d;
  border: 1px solid #00a08d; }
  .btn-outline-primary:hover {
    color: white;
    background-color: #00a08d;
    border: 1px solid #00a08d; }

.form-control:focus {
  border: 1px solid #fe5353;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #fe5353; }

option:focus, option:active, option:checked {
  background: linear-gradient(#fe5353, #fe5353); }

label {
  cursor: pointer; }
  label input[type=checkbox] {
    display: none; }
    label input[type=checkbox] + .label-text::before {
      content: "";
      font-family: "FontAwesome";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      width: 1em;
      display: inline-block;
      margin-right: 5px;
      color: #fe5353; }
    label input[type=checkbox]:checked + .label-text::before {
      content: ""; }
    label input[type=checkbox]:disabled + .label-text::before {
      content: "";
      color: #ffb8b8; }
  label input[type=radio] {
    display: none; }
    label input[type=radio] + .label-text::before {
      content: "";
      font-family: "FontAwesome";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      width: 1em;
      display: inline-block;
      margin-right: 5px;
      color: #fe5353; }
    label input[type=radio]:checked + .label-text::before {
      content: ""; }
    label input[type=radio]:disabled + .label-text::before {
      content: "";
      color: #ffb8b8; }

.badge-default {
  background-color: #00a08d; }

.navbar {
  background: White;
  border-bottom: 1px solid #BDBDBD; }
  .navbar .navbar-brand {
    color: #00a08d; }
    .navbar .navbar-brand:hover {
      color: #003a33; }
  .navbar .navbar-nav .nav-item .nav-link {
    color: #757575; }
    .navbar .navbar-nav .nav-item .nav-link:hover {
      color: #212121; }
  .navbar .navbar-nav .active .nav-link {
    color: #00a08d; }
    .navbar .navbar-nav .active .nav-link:hover {
      color: #003a33; }

.card {
  margin-bottom: 5px; }
  .card .card-text {
    color: #757575; }
  .card .card-header {
    background: #00a08d;
    color: White; }
    .card .card-header a {
      color: White; }
      .card .card-header a:hover {
        color: #f1f1f1; }

.card-inverse {
  color: white; }
  .card-inverse .card-text {
    color: white; }

.bg-app-color {
  background-color: #00a08d;
  color: White; }

.bg-accent-color {
  background-color: #fe5353;
  color: White; }

.alert-info {
  background: #00a08d;
  border: 1px solid #00a08d;
  color: white; }

.pagination .page-item .page-link {
  color: #ea0101; }

.progress .progress-bar {
  background-color: #00a08d; }

.dropdown .dropdown-menu .dropdown-item:hover {
  background: #00a08d;
  color: White; }

.modal-dialog .modal-content .modal-header {
  background: #00a08d;
  color: White; }
  .modal-dialog .modal-content .modal-header .close {
    color: White; }

.page-header {
  color: #00a08d;
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #BDBDBD;
  font-weight: bold; }

/*# sourceMappingURL=style.css.map */
