.review-img{
  display: block;
  border-radius: 100%;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid  #009688; 
}
.review-card>.card-block{
  border-radius: 10px;
  background: #009688;
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: relative;
  top: -100px;
  z-index: -1;
}
.review-card>.card-block>.card-text>p{
  font-size: 1.5em;
  font-family: "Gloria Hallelujah",cursive;
  text-align: center;
  color: White;
}