@import './modules/palette'

.background-secondary
	background: $secondary-color

.background-primary
	background: $primary-color

.primary-color
	color: $primary-color

.secondary-color
	color: $secondary-color

.bold
	font-weight: bold

.bolder
	font-weight: bolder