<nav id="navbar" class="background-primary">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo primary-color">Maharaja Academy</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons primary-color">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li <% if (activePage=='home') {%>
        class='active'
      <%}%> > <a href="index.html">Home</a></li>
      <li <% if (activePage=='about') {%>
        class="active"
      <%}%> ><a href="aboutUs.html">About Us</a></li>
      <li <% if (activePage=='gallery') {%>
        class="active"
      <%}%>><a href="gallery.html"><span class="material-icons">panorama</span> Gallery</a></li>
      <li><a class="waves-effect waves-light btn background-secondary" href="http://app.procut.com">Log-in/Sign-up</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li <% if (activePage=='home') {%>
        class="active"
      <%}%> ><a href="index.html">Home</a></li>
      <li <% if (activePage=='about') {%>
        class="active"
      <%}%> ><a href="aboutUs.html">About Us</a></li>
      <li <% if (activePage=='gallery') {%>
        class="active"
      <%}%> ><a href="gallery.html"><span class="material-icons">panorama</span> Gallery</a></li>
      <li><a class="waves-effect waves-light btn background-secondary" href="http://app.procut.com">Log-in/Sign-up</a></li>
    </ul>
  </div>
</nav>