<div class="container-fluid">
	<div class="carousel carousel-slider center" data-indicators="true">
	  <div class="carousel-fixed-item center">
	  	<h5 class="center white-text">What our students say about us!</h5>
	    <a class="btn waves-effect background-secondary white-text darken-text-2">More Reviews</a>
	  </div>
	  <div class="carousel-item green white-text" href="#one!">
	    <div class="container">
	    	<div class="row">
				<div class="col s12 m6 l4">
				  <div class="card">
			            <div class="card-image">
			              <img style="" id="neeraj" src="">
			              <h3 class="card-title deep-orange-text">Neeraj Kumar</h3>
			            </div>
			            <div class="card-content black-text">
			              <p class="cursive-text medium-text-size" style="font-size: 1.3em;">"Every teachers understands the student very well."</p>
			            </div>
	  				</div>
				</div>

				<div class="col s12 m6 l4">
				  <div class="card">
			            <div class="card-image">
			              <img style="" id="sudhanshu" src="">
			              <h3 class="card-title deep-orange-text">Sudhanshu</h3>
			            </div>
			            <div class="card-content black-text">
			              <p class="cursive-text medium-text-size" style="font-size: 1.3em;">"Teachers teach dedicately and well."</p>
			            </div>
	  				</div>							
				</div>
				
				<div class="col s12 m6 l4">
				  <div class="card">
			            <div class="card-image">
			              <img style="" id="rahul" src="">
			              <h3 class="card-title deep-orange-text">Rahul</h3>
			            </div>
			            <div class="card-content black-text">
			              <p class="cursive-text medium-text-size" style="font-size: 1.3em;">"They only focus to clear concepts unlike other who talks only of marks. They try so hard to clear each and every concept. Various activities, workshops, and special classes are frequently organised. and Shivam bhaiya's AOC class is very helpful to us."</p>
			            </div>
	  				</div>							
				</div>

			</div>
	    </div>
	  </div>

	  <div class="carousel-item blue white-text" href="#two!">
	    <div class="container">
	    	<div class="row">
				<div class="col s12 m6 l4">
				  <div class="card">
			            <div class="card-image">
			              <img style="" id="himanshu" src="">
			              <h3 class="card-title deep-orange-text">Himanshu Sharma</h3>
			            </div>
			            <div class="card-content black-text">
			              <p class="cursive-text medium-text-size" style="font-size: 1.3em;">"I like the way they teach in this academy and they conduct weakly test in class."</p>
			            </div>
	  				</div>
				</div>

				<div class="col s12 m6 l4">
				  <div class="card">
			            <div class="card-image">
			              <img style="" id="amit" src="">
			              <h3 class="card-title deep-orange-text">Amit</h3>
			            </div>
			            <div class="card-content black-text">
			              <p class="cursive-text medium-text-size" style="font-size: 1.3em;">"Well qualified staff and good environment for study."</p>
			            </div>
	  				</div>
				</div>
			</div>
	    </div>
	  </div>
	</div>
</div>