<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title><%=title%></title>
</head>

<body>
	<% include partials/navbar.ejs %>
	<div class="container">

		<div class="row">
			<h3 class="secondary-color page-header">A glimpse of Practical</h3>
			<div class="col m6 l4">
				<div class="card">
				    <div class="card-image video-container waves-effect waves-block waves-light">
				    	<iframe class="activator" src="https://drive.google.com/file/d/0B9moRM5BdbZ8QjhNSS12bVhQRG8/preview" width="100%" height="auto"></iframe>
				    </div>
				    <div class="card-content">
				      <span class="card-title activator grey-text text-darken-4">Charging Capacitor(3300uF capacitor)<i class="material-icons right">more_vert</i></span>
				      <p>Seminar was conducted to help ... </p>
				    </div>
				    <div class="card-reveal">
				      <span class="card-title grey-text text-darken-4">Charging Capacitor(3300uF capacitor<i class="material-icons right">close</i></span>
				      <p>Seminar was conducted to help students understand the basics of capacitor and give them real-life demonstration. </p>
				    </div>
				  </div>
			</div>
			<div class="col m6 l4">
				<div class="card">
				    <div class="card-image video-container waves-effect waves-block waves-light">
				    	<iframe class="activator" src="https://drive.google.com/file/d/0B9moRM5BdbZ8VE54TzYxbUNudmM/preview" width="100%" height="auto"></iframe>
				    </div>
				    <div class="card-content">
				      <span class="card-title activator grey-text text-darken-4">Charging Capacitor(8.2uF capacitor)<i class="material-icons right">more_vert</i></span>
				      <p>With this capacitor ...</p>
				    </div>
				    <div class="card-reveal">
				      <span class="card-title grey-text text-darken-4">Charging Capacitor(8.2uF capacitor)<i class="material-icons right">close</i></span>
				      <p>With this capacitor discharging was way to fast.</p>
				    </div>
				  </div>
			</div>
		</div>

		<div class="row">
			<h3 class="secondary-color page-header">Gallery</h3>
			
			<div class="col l3 m4 s12">
				<div class="card">
		            <div class="card-image">
		              <img src="" id="aoc-by-shivam">
		              <span class="card-title" >A.O.C. class by Shivam Bhaiya</span>
		            </div>
		            <div class="card-content">
		              <p>A special class was organised to clear the Topic: "Wave Optics" </p>
		            </div>
		        </div>
			</div>

			<div class="col l3 m4 s12">
				<div class="card">
		            <div class="card-image">
		              <img src="" id="practicals">
		              <span class="card-title">Students doing the practical.</span>
		            </div>
		            <div class="card-content">
		              <p>The practical was organised to make the concept of "Meter Bridge" clear. </p>
		            </div>
		        </div>
			</div>

			<div class="col l3 m4 s12">
				<div class="card">
		            <div class="card-image">
		              <img src="" id="motivation">
		              <span class="card-title" >Motivation Class by Mr. Ojha</span>
		            </div>
		            <div class="card-content">
		              <p>As exams aproach, getting stressed is nothing new. A motivation class was organised to boost students and relieve them from stress. </p>
		            </div>
		        </div>
			</div>

		</div>
	</div>

	<% include partials/footer.ejs %>
</body>
</html>